body{
    font-family: 'PT Sans', sans-serif;
    margin: 0%;
}

.header{
    background-color: #202846;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}


.header li{
    display: inline-block;
    border-right: 2px solid white;
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.navi{
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
    
}

.logo{
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo-img{
    width: 120px;
}

.lang{
    width: 75px;
    padding-left: 20px;
}

.main{
    background-color: #E5E5E5;
    
}

.book{
    background-color: #C6C6DC;
    color: #202846;
    margin-bottom: 7rem;
    
}

.book_content{
    font-size: 2.5rem;
    font-weight: 400;
    font-style: italic;
    padding: 1.5rem 4rem;
    position: relative;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    background-color: #C6C6DC;
    width: 90%;
    margin: 2rem auto;
}

.card_img{
    width: 35%;
    padding: 1.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_img img{
    width: 100%;
}


.card_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0rem;
}

.card_title{
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    width: 100%;
    color: #353C57;
    border-bottom: 3px solid #fff;
    margin-bottom: 9px;
}

.card_content{
    height: 49%;
    color: #202846;
    font-weight: 400;
    font-size: 16px;
    background-color: #D7D7DD;
    text-align: center;
    padding: 5%;
    margin-bottom: 0px;
}

svg{
    position: absolute;
    top: .4rem;
    right: .8rem;
    width: 2.5rem;
}
svg path:hover{
    fill: yellow;
}

.card a{
    border: 1px solid #202846;
    border-radius: 50px;
    background-color: #202846;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    bottom: 3%;
    right: -4%;
    text-decoration: none;
    height: 2.2rem;
    width: 9rem;
}

.prefooter{
    width: 100%;
    height: 2.5rem;
}

.footer{
    background-color: #202846;
    height: 65px;
    width: 100%;
    
}

.end{
    color: #EEECF1;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    margin-left: 20px;
    padding-top: 1rem;
}

