table{
    border: 5px;
    border-color: #000;
    width: 900px;
    height: 240px;
    border-style: solid;
    
}
tr, td{
    border: 5px;
    border-style: solid;
    border-color: #000;
    border-spacing: 0px;
}
