body,
ul {
    margin: 0%;
    padding: 0%;
    background-color: #212529;
    
    
    font-family: 'Roboto', sans-serif;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    


}

.header a {
    text-decoration: none;
    
}


.nav {
    list-style: none;
    display: flex;
    


}

li.nav-item a {
    display: inline-block;
    box-sizing: border-box;
    padding: 25px 12.5px;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

li.nav-item a:hover{
    color: #FFB742;
    transition: all .1s;
    font-size: 17px;
    padding: 22px 10px;
}

.header-btn {
    color: #212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 26px;
    background-color: #FFB742;
    border-radius: 50px;
    text-decoration: none;

}

.header-btn:hover{
    font-size: 17px;
    padding: 9px 24px;
}

.main{
    margin: 3rem;
    
}

.intro{
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
    
}

.hi{
    font-size: 28px;
    font-weight: 700;
    padding: 1.5rem 0;
}

.name{
    color: #FFB742;
    text-decoration: underline;
}

.hi2{
    font-size: 38px;
    font-weight: 700;
}

.hi3{
    margin-top: 3rem;
    font-size: 19px;
    font-weight: 200;
    
}

.avatar{
    margin-top: 3rem;
}

.ecard{
    display: flex;
    justify-content: space-between;
    margin: 5rem 0rem;
    
}

.card{
    box-shadow: 4px 0px 4px 0px #000;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #292B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
    width: 30%;
    padding: 15px 0px;
}

.card-info{
   text-align: center;
    
}

.img-card{
    width: 15%;
}

.num{
    color: #FFB742;
    font-size: 20px;
    font-weight: 700;
}

.dscrpsn{
    font-size: 10px;
    font-weight: 700;
}

.card:hover{
    background-color: #FFB742;
    color: #000;
}

.card:hover .num{
    color: #000;
}
.aboutMe{
    display: flex;
    margin-top: 15rem;
    
}

.abt-img{
    position: relative;
    width: 50%;
}
.bg{
    position: relative;
}

.fr{
    position: absolute;
    left: -33px;
    top: -117px;
}

.abt-text{
    width: 50%;
}

.who{
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 8%);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 50px;
    box-shadow: 0px 1px 4px 0px #000;
}

.abt{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    padding: 20px 0px;
}

.text{
    color: #D4D4D4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 0px 90px;
}

.works-text-section{
    text-align: center;
    margin-top: 5rem;
    
}

.my-works{
    display: inline-block;
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 8%);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 50px;
}

.nav-works{
    list-style: none;
    display: flex;
    justify-content: center;
}

.works a{
    display: inline-block;
    box-sizing: border-box;
    padding: 25px 50px;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}
.works a:hover{
    background-color: #FFB742;
    color: #000;
}

.work-img{
   display: flex;
   justify-content: space-around;
   margin-top: 3rem; 

}

.work-img img{
    width: 30%;
}


.footer{
    margin: 5rem;
    padding: 8rem 3rem;
    height: 20rem;
    background-color: #1C1C1C;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}




.info{
    color: #D4D4D4;
    font-weight: 600;
    line-height: 35px;
}

.h1{
    color: #fff;
    font-weight: 700;
    padding: 2rem 0;

}

.name{
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding: 2rem 0;
    text-decoration: none;
}

.flist{
    width: 20%;
}

.flist a{
    color: #7B7B7B;
    text-decoration: none;
    font-weight: 500;
    line-height: 35px;
}

.flist a:hover{
    color: #FFB742;
}