body{
    margin: 0%;
    background-color: #e5e5e5;
}

span{
    color: red
}

.body{
    margin: 0 auto;
    background-color: #F9F9F9;
    min-width: 700px;
    max-width: 1000px;
    padding: 3rem ;
    font-family: 'Public Sans', sans-serif;
}

section{
    display: flex;
    justify-content: space-between;
}

form{
    width: 100%;
}

.left{
    width: 45%;
    display: flex;
    align-items: center;
}

.right{
    width: 45%;
    
}

input{
    display: block;
    width: 100%;
    height: 1.7rem;
    padding: .3rem;
    margin: 1rem 0;
    border-radius: .3rem;
    border: 1px solid #ADADAD;
    font-weight: 400;
}

label{
    font-weight: 500;
}

h1, h3{
    font-weight: 700;
}
h1{
    margin-bottom: 5rem;
}

h3{
    margin-bottom: 3rem;
}

#referral{
    background: url(../img/arrow-down-s-line.png) no-repeat 100%;
}

.chbx{
    width: 8%;
    margin-right: .5rem;
    
    
}
p{
    display: flex;
    align-items: center;
    
    
}

#purge{
    margin-bottom: 1rem;
}
.grey{
    background-color: #EFEFEF;
}

#category{
    background: url(../img/arrow-down-s-line.png) no-repeat 100%;
}


#application{
    color: #0050D8;
}


.search{
    background: url(../img/search-line.png) white no-repeat 100%;
    height: 2.38rem;
    width: 100%;
}

#blue{
    color: #0050D8;
}

.next{
    background-color: #0050D8;
    height: 2rem;
    width: fit-content;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    float: right;
}

.next a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 1rem;
    
}

hr{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.list{
    display: flex;
    width: 100%;
    height: 2.3rem;
    padding: .3rem;
    margin: 1rem 0;
    border-radius: .3rem;
    border: 1px solid #ADADAD;
    font-weight: 400;

}






