body{
    
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    background-color: #E5E5E5;
}

body div:first-of-type{
    display: flex;
    justify-content: space-around;
    
}

div section:nth-child(1){
    background-image: url(../img/5aecfceadea94d6f988e8e0dee5bf941\ 1.png);
    background-repeat: repeat-y;
    background-size: contain;
    width: 17rem;
    height: 36.7rem;
    display: flex;
    align-items: flex-end;
    border-radius: 1rem;
    position: relative;
    margin-top: 2rem;
}

div section:nth-child(2){
    background-color: #fff;
    border-radius: 1rem;
    width: 17rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
}

img:nth-child(1){
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 17rem;
}


section:nth-child(2) div:nth-child(1){
    background-image: url(../img/pexels-mo-9454915\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16rem;
    height: 17rem;
    margin: .5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}



section:nth-child(1) div:nth-child(2){
    background-color: #fff;
    width: 16rem;
    height: 15.5rem;
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

p{
    color: #100233;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}


section:nth-child(1) img:nth-child(3){
    margin-top: 2rem;
    border-radius: 3rem;
    box-shadow: .3rem 0 0 0 #7819A9;
}

section:nth-child(1) img:nth-child(4){
    position: absolute;
    bottom: 4.3rem;
}

section:nth-child(2) div:nth-child(1) > div:nth-child(1){
    background-image: url(../img/Rectangle\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0  1rem 1rem 0;
    height: 3rem;
    color: #fff;
    box-sizing: border-box;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

section:nth-child(2) p:nth-child(1){
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

section:nth-child(2) div:nth-child(2){
    border: 1px solid #DFDFDF;
    border-radius: 1rem;
    margin: 0.3rem 1.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.5em;
}

section:nth-child(2) div:nth-child(2) img{
    width: 3rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    padding: .5rem .3rem;
}

section:nth-child(2) div:nth-child(2) > div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: none;
    margin-left: -.5rem;
    margin-top: -.5rem;
}

section:nth-child(2) div:nth-child(2) a{
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: .7rem;
}

section:nth-child(2) div:nth-child(2) p{
    color: #aaa2a2;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: .5rem;
    margin: 0%;
}

section:nth-child(2) div:nth-child(3){
    display: flex;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    background-image: none;
}

section:nth-child(2) div:nth-child(3) > div:nth-child(1){
    background-image: none;
    width: 50%;
    position: relative;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-left: 1.3rem;
}
section:nth-child(2) div:nth-child(3) > div:nth-child(1) img{
    display: block;
    position: absolute;
    width: 30%;
    
}
section:nth-child(2) div:nth-child(3) > div:nth-child(1) img:nth-child(5){
    left: 6rem;
}
section:nth-child(2) div:nth-child(3) > div:nth-child(1) img:nth-child(4){
    left: 4.5rem;
}
section:nth-child(2) div:nth-child(3) > div:nth-child(1) img:nth-child(3){
    left: 3rem;
}
section:nth-child(2) div:nth-child(3) > div:nth-child(1) img:nth-child(2){
    left: 1.5rem;
}
section:nth-child(2) div:nth-child(3) > div:nth-child(1) img:nth-child(1){
    left: 0rem;
    display: block;
    position: absolute;
    width: 30%;
}

section:nth-child(2) div:nth-child(3) > div:nth-child(2){
    background-image: none;
    border: none;
    width: 40%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .7rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;


}

#load{
    background-image: none;
    position: relative;
    background: none;
    margin: 0%;
    height: 2rem;
    
}

#load > div:nth-child(1){
    position: absolute;
    background: none;
    margin: 0%;
    border: none;
    padding: 0%;
    top: -19px;
    right: -25px;
}
#load div:nth-child(2){
    position: absolute;
    background: none;
    margin: 0%;
    border: none;
    padding: 0%;
    top: 4px;
    right: 7px;
}
#load div:nth-child(3){
    position: absolute;
    background: none;
    margin: 0%;
    border: none;
    padding: 0%;
    top: -13px;
    right: -9px
}

section:nth-child(2) div:nth-child(4){
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    margin-left: 1.3rem;
}

#heart{
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    border: 1px solid #f9f9f9;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding: .5rem .5rem;
}

#heart img:nth-child(1){
    width: 1.3rem;
}

#heart svg{
    padding: 0 .2rem;
    width: 1.3rem;
}

#heart > svg:hover path{
    fill: #f00;
}

#heart img:nth-child(6){
    width: auto;
    margin-left: 29%;
}



section:nth-child(2) div:nth-child(6){
    color: #C1B5B5;
    margin-left: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
}

section:nth-child(2) div:nth-child(7){
    color: #000;
    margin-left: 1.3rem;
    margin-right: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.5rem;
}

section:nth-child(2) div:nth-child(8){
    border-radius: .5rem;
    background-color: #8BB71E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    height: 2rem;
}

a:nth-last-of-type(1){
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.4rem;
}


