body{
    font-family: 'Open Sans', sans-serif;
    background-color: #e5e5e5;
}

h2{
    margin: .2rem 0;
    color: #fff;
}
.body{
    background-color: #fff;
    margin: 1rem 10rem;
    padding: 1rem 10rem;
}

p{
    color: #7C7C7A;
    margin: 0 1.3rem;
    font-size: .8rem;
}

hr{
    margin: .7rem 0;
}

.border{
    border: 1px dashed #7B61FF;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 1rem;
    color: #C0BFBD;
    position: relative;
    width: 20rem;
    margin: 0 auto;
}

.screen{
    background-color: #242625;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #C0BFBD;
    overflow: hidden;
    width: 15%;
    padding: 1.5rem;
    transition: width .3s linear;
}

.screen:hover{
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
}

.logo{
    background-color: #A492FF;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    margin-right: 2rem;
    border-radius: .7rem;
}

.switch{
    background-color: #A492FF;
    padding: .3rem;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4px;
    top: 54px;
}

input{
    border: none;
    margin-left: 1.3rem;
    background-color: #242625;
}
.menu{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.menu-card{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 .3rem;
    padding: .7rem .5rem;
    border-radius: 1rem;
    text-decoration: none;
}

.menu-card:hover{
    background-color: #f5f5f5;
}

.menu img{
    margin-right: 2rem;
}

.input:hover{
    background-color: #f5f5f5;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer div{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: .7rem .5rem;
    border-radius: 1rem;
    width: 93.5%;
}

.footer div:hover{
    background-color: #e5e5e5;
}

.footer img, svg{
    margin-right: 2rem;
    overflow: initial;
}