.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.city{
    border: 2px solid #323232;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    width: 30%;
}


input{
    border: none;
}

.loc{
    background: url(../img/Group.png) no-repeat;
    text-align: center;
    display: flex;
    padding: .3rem .3rem .6rem .3rem;
    margin:  0 .3rem;
}

.btn-success{
    background-color: #EF781A;
    border: none;
}

.btn-danger{
    background-color: #00D008;
    border: none;
}

.btn {
    margin: 0 .5rem;
}

.tit{
    padding: 3rem 0 1rem .4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main{
    background-color: #ECECEC;
    padding: 3% 7% 2% 3%;
    margin: 4px 0 0 0;

}

.menu{
    padding: auto 2rem;
}

.nav-link{
    color: #7b7b7b;
}
.nav-link:hover{
    background-color: #C4C4C4;
    color: #343434;
}
.order{
    width: 40%;
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border: 1px solid black;
    
}

.table{
    display: grid;
    grid-template-columns: repeat(3 2fr);
    grid-template-rows: repeat(5 1fr);
    margin-top: 3rem;
}

.item1{
    grid-column: 1;
    grid-row: 1/2;
}
.item2{
    grid-column: 2;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item3{
    grid-column: 3;
    grid-row: 1/2;
}
.item4{
    grid-column: 1;
    grid-row: 2/5;
}
.item5{
    grid-column: 1;
    grid-row: 6;
}
.item6{
    grid-column: 3;
    grid-row: 6;
}

.plus{
    background-color: #EF781A;
    width: 2rem;
    height: 2rem;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.price{
    background-color: #EF781A;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-radius: 1rem;
    transition: all .3s linear;
}

.price:hover{
    transform: scale(1.01);
    box-shadow: 2px 4px 4px 0 #343434;
}

.card-set{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    width: 80%;
}

.card-body{
    position: relative;
}


svg path:hover{
    fill: #69A042;
}

.backet{
    width: 80%;
    border-radius: .5rem;
    position: relative;
}

p{
    color: #7b7b7b;
    font-size: .7rem;
}

h2{
    margin: 2rem 0;
}

span{
    font-weight: 700;
}

.hide{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #EF781A;
    color: #fff;
    width: 100%;
    height: 105%;
    border-radius: .5rem;
    text-align: center;
    opacity: 0;
}

.hide:hover{
    opacity: 1;
}

footer{
    background-color: #ECECEC;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 9rem;
}

.contacts{
    width: 100%;
    background-color: #fff;
    border-radius: .5rem;
    padding: 1rem;
}

.arrow{
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.card-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.food{
    display: flex;
    justify-content: center;
    margin: .5rem auto;
}