body{
    margin: 0;
    background-color: grey;
    font-family: 'Open Sans', sans-serif;
}

section{
    display: grid;
    grid-template-columns: repeat(4 2fr);
    grid-template-rows: repeat(10 1fr);
    background-color: #FFB084;
    padding: 2rem;
    border-radius: 1rem;
    width: 70%;
    height: 70%;
    margin: 3rem auto;
    box-sizing: border-box;
    gap: 2rem;
}

.item{
    background-color: #fff;
    border-radius: 1rem;
    transition: all .2s linear;
    padding: 1rem;
    box-shadow: .4rem .4rem 0 0 #000;
}

.item:hover{
    transform: scale(1.05);
    box-shadow: .7rem .7rem .5rem .5rem #000;
}

h3, h2{
    margin: .3rem;
}

img{
    margin: 1rem;
}

p{
    margin: .7rem;
}

span{
    font-weight: 700;
}

.photo{
    grid-column: 1/3;
    grid-row: 1/9;
    text-align: center;
    align-self: flex-start;
}

.quotes{
    grid-column: 1/3;
    grid-row: 9/11;
    align-self: flex-end;
    text-align: center;
}

.bio{
    grid-column: 3/5;
    grid-row: 1/3;
}

.green{
    box-shadow: .4rem .4rem 0 0 #29A71E;
    grid-column: 3;
    grid-row: 3/7;
}

.green h3{
    color: #29A71E;
}

.green:hover{
    box-shadow: .7rem .7rem .5rem .5rem #29A71E;
}

.blue{
    box-shadow: .4rem .4rem 0 0 #3675B0;
    grid-column: 3;
    grid-row: 7/11;
}
.blue h3{
    color: #3675B0;
}
.blue:hover{
    box-shadow: .7rem .7rem .5rem .5rem #3675B0;
}

.red{
    box-shadow: .4rem .4rem 0 0 #E13535;
    grid-column: 4;
    grid-row: 3/9;
}
.red h3{
    color: #E13535;
}
.red:hover{
    box-shadow: .7rem .7rem .5rem .5rem #E13535;
}

.pers{
    grid-column: 4;
    grid-row: 9/11;
}