body {
    font-family: 'Inika', sans-serif;
    margin: 0;

}

.h1 {
    margin: 100px 0px 20px;
    font-size: 48px;
    font-weight: 700;


}

.line {
    width: 402px;
    border-bottom: 3px solid #3E45E8;
    margin: 0px 0px 30px 0px;
}

header {
    width: auto;
    height: 110px;
    text-align: center;
    color: #3E45E8;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    font-weight: 400;

}

.ukraine {
    color: #E8C23E;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    font-weight: 400;
   
}

.banner {
    height: 603px;
    width: 100%;
    background-image: url("../img/image1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 195px;
    padding-left: 118px;

}

.content {

    height: 272px;
    width: 80%;
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    padding-left: 3%;
    font-size: 46px;
    color: white;
    box-sizing: border-box;
    
    

}

.card {


    color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    box-shadow: 0px 4px 30px 1px rgb(0, 0, 0, .5);


}

.card_img {
    width: 100%;
}

.title {
    color: #1E8DF2;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    box-sizing: border-box;
}

.subtitle {
    color: #E8C23E;
    font-size: 17px;
    font-weight: 400;
    padding: 10px;
    box-sizing: border-box;
}

.card_margin {
    margin: 0 3%;
}

main {
    padding-left: 80px;
}

.second {
    margin: 0 auto;
}

.h2 {
    text-align: center;
    margin: 100px 0px 20px;
    font-size: 48px;
    font-weight: 700;
}

.ukr {
    display: flex;
    justify-content: center;
}

.button {
    width: 591px;
    height: 121px;
    background-color: #2A61F0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.button a {
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    
    


}



footer {
    margin-top: 20px;
    height: 320px;
    background-size: 100%;
    background-color: #2F4A4B;
    box-sizing: border-box;
    border: 0px solid;
    text-align: center;
}

.strong {
    color: #3E45E8;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    font-weight: 400;

}

.contacts {
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    color: #A89D9D;
    text-decoration: none;

}

.sm{
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}